<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />

  <button class="search-form__btn" type="submit">Search</button>
</form>
<div class="gallery"></div>
<button
  type="button"
  class="load-more btn btn-primary button"
  data-action="load-more"
>
  <span
    class="spinner-border spinner-border-sm spinner is-hidden"
    role="status"
    aria-hidden="true"
  ></span>
  <span class="label">More</span>
</button>
